[submodule "home-manager"]
	path = submodules/home-manager
	url = https://github.com/rycee/home-manager
[submodule "yasnippet-snippets"]
	path = submodules/yasnippet-snippets
	url = https://github.com/AndreaCrotti/yasnippet-snippets
