[submodule "home-manager"]
	path = submodules/home-manager
	url = https://github.com/rycee/home-manager/
[submodule "wild-bind"]
	path = submodules/wild-bind
	url = https://github.com/debug-ito/wild-bind
[submodule "cabal"]
	path = submodules/cabal
	url = https://github.com/haskell/cabal
[submodule "awesome-tab"]
	path = submodules/awesome-tab
	url = https://github.com/manateelazycat/awesome-tab
