# my
ignore/
TODO

# nix
result/
result
**/result

# Haskell
cabal.project.local
dist-newstyle/
dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
.virtualenv
.hsenv
.cabal-sandbox/
cabal.sandbox.config
cabal.config
report.html
.stack-work/

# Emacs
\#*
*~
.#*
\#*\#
*.log
TAGS
.projectile

# etc
*.swp

# OS X
.DS_Store

# tex
*.aux
*.dvi
*.out
#TODO resume/resume.pdf

# make
.make/

