##################################################
[Desktop Entry]

Name=Invert Screen Colors

Version=1.0
Type=Application
Encoding=UTF-8

#############################

Exec=xrandr-invert-colors
TryExec=xrandr-invert-colors

#############################

#Icon=/home/sboo/configuration/home-manager/icons/128x128/xrandr-invert-colors.png

StartupNotify=true
Terminal=false

##################################################
# Notes ##########################################
##################################################

##################################################