##################################################
[Desktop Entry]

Name=terminal

Version=1.0
Type=Application

#############################

Exec=/home/sboo/.nix-profile/bin/terminal --maximized --name=SBoo %F
TryExec=terminal
Path=/home/sboo/.terminal.d

# ^ %F interpolates a list of filenames.

#############################

MimeType=text/english;text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-tex;application/x-shellscript;text/x-c;text/x-c++;

Icon=terminal

Categories=Development;TextEditor;
Keywords=Text;Editor;

GenericName=Text Editor
Comment=Edit text

StartupWMClass=Terminal
StartupNotify=false
Terminal=false

#############################

Actions=debug;

##################################################