#!/usr/bin/env xdg-open
##################################################
[Desktop Entry]
Version=1.0
Type=Application

Exec=/home/sboo/.emacs.d/result/bin/emacs -q --load /home/sboo/.emacs.d/init.el --no-desktop
Path=/home/sboo/.emacs.d

Name=emacs
Icon=emacs
StartupWMClass=Emacs
StartupNotify=false

##################################################

# `Icon=emacs.png`
#
# ^ `desktop-file-validate` demands no extension,
# unless it's an absolute-filepath.

#TODO Name=emacs-sboo
#TODO Exec=/home/sboo/.nix-profile/bin/emacs-sboo

##################################################