##################################################
[Desktop Entry]
Version=1.0
Type=Application

Name=emacs-sboo
#^ TODO

TryExec=/home/sboo/.emacs.d/result/bin/emacs
Exec=/home/sboo/.emacs.d/result/bin/emacs --no-init-file --load /home/sboo/.emacs.d/init.el --no-desktop --maximized --name=SBoo
Path=/home/sboo/.emacs.d

Icon=emacs
#^ TODO 
StartupWMClass=Emacs
StartupNotify=true
#^ TODO 

Actions=debug;quiet;
#^TODO ,Minimal

##################################################
[Desktop Action debug]

Name=Debug Emacs
Exec=/home/sboo/.emacs.d/result/bin/emacs --debug-init --find-file=/home/sboo/.emacs.d/init.el --no-splash --name=SBoo/Debug

##################################################
[Desktop Action quiet]

Name=Quiet Emacs (no « init.el »)
Exec=/home/sboo/.emacs.d/result/bin/emacs --no-init-file --find-file=/home/sboo/.emacs.d/init.el --no-splash --name=SBoo/Quiet

##################################################

# `Icon=emacs.png`
#
# ^ `desktop-file-validate` demands no extension,
# unless it's an absolute-filepath.

#TODO Name=emacs-sboo
#TODO Exec=/home/sboo/.nix-profile/bin/emacs-sboo
# ^ from `nix-install emacs-sboo.nix`

# #TODO
# TryExec=
# Exec= --no-init-file --load /home/sboo/.emacs.d/init.el --no-desktop
# Path=/home/sboo/.emacs.d

# Name=emacs
# Icon=emacs #TODO 
# StartupWMClass=Emacs
# StartupNotify=false #TODO 

# Categories=System;TerminalEmulator;

##################################################