########################################
[Desktop Entry]
Version=1.0

Name=XTerm
Type=Application

Exec=/home/sboo/configuration/applications/terminal/exec.sh
#Path=/home/sboo/

Terminal=false
StartupNotify=true

#Icon=/home/sboo/configuration/applications/terminal/icon.png
Icon=utilities-terminal
GenericName=TerminalEmulator
Categories=System;TerminalEmulator;
#Comment=
########################################