[Desktop Entry]

Name=XTerm
#GenericName=Terminal

Exec=xterm
#Exec=/home/sboo/.nix-profile/bin/xterm
#TryExec=/home/sboo/.nix-profile/bin/xterm

Type=Application
Icon=utilities-terminal
Encoding=UTF-8
Terminal=false
Categories=System;TerminalEmulator;
Comment=standard terminal emulator for the X window system
